<!-- app/views/pages/index.html.erb -->
<h1>Amir Radio</h1>

<div id="js-player-wrapper">
  <p>
    Now playing: <strong class="now-playing"></strong>
    Listeners: <span class="listeners"></span>
  </p>

  <audio id="js-player" controls>
    Your browser does not support the <code>audio</code> element. Seems like you are not a geek :(
  </audio>
</div>
